.list-number{color:#888;font-weight:bold;font-size: 30px;padding-left:5px;}
.classification.label{padding:0 10px;border-radius:3px;color:white;font-family: arial;width:170px;}
.classification.none{background-color:#D9D9D9;}
.classification.directory{background-color:#3F51B5;}
.classification.news{background-color:#FF5722;}
.classification.investigation{background-color:#FF5252;}
.classification.classified{background-color:#62AB52;}
.classification.social{background-color:#6622AB;}

.list-item-cont.directory{background:rgba(63,81,181,0.2);}
.list-item-cont.news{background:rgba(255,88,35,0.2);}
.list-item-cont.investigation{background:rgba(240,93,93,0.2);}
.list-item-cont.classified{background:rgba(102,170,88,0.2);}
.list-item-cont.social{background:rgba(102,34,171,0.2);}

#mainContainer {
  height: 100vh;
}

.tip button{
  min-width: 34px;
  line-height:15px;
  margin:27px 0 0 8px;
}
