.list-number{color:#888;font-weight:bold;font-size: 30px;padding-left:5px;}
.classification.label{padding:0 10px;border-radius:3px;color:white;font-family: arial;width:170px;}
.classification.none{background-color:#D9D9D9;}
.classification.directory{background-color:#3F51B5;}
.classification.news{background-color:#FF5722;}
.classification.investigation{background-color:#FF5252;}
.classification.classified{background-color:#62AB52;}
.classification.social{background-color:#6622AB;}
.classification.government{background-color:#632721;}


.label-color0{background-color:#888888!important;}
.label-color1{background-color:#3F51B5!important;}
.label-color2{background-color:#FF5722!important;}
.label-color3{background-color:#FF5252!important;}
.label-color4{background-color:#62AB52!important;}
.label-color5{background-color:#6622AB!important;}
.label-color6{background-color:#632721!important;}

.list-item-cont .option-button{margin:0 2px;}
.list-item-cont .option-button.classification{margin:0;border-radius: 0;color:white;}
.list-item-cont .list-label{position:relative;color:white;font-weight: bold;font-size:17px;width:420px;text-align: center;padding:20px;text-transform: uppercase;}
.list-item-cont .list-label .remove{display:block;position:absolute;right:1px;top:1px;background-color:#ddd;color:black;padding:2px 6px 3px;font-weight: normal;font-size:11px;text-transform: none}


.list-item-cont a{text-decoration: none;font-weight: bold;color:#446;}
.list-item-cont.directory{background:rgba(63,81,181,0.2);}
.list-item-cont.news{background:rgba(255,88,35,0.2);}
.list-item-cont.investigation{background:rgba(240,93,93,0.2);}
.list-item-cont.classified{background:rgba(102,170,88,0.2);}
.list-item-cont.social{background:rgba(102,34,171,0.2);}
.list-item-cont.social{background:rgba(11,63,58,0.2);}
.list-item-cont.government{background-color:rgba(108,56,51,0.2);}

.list-item-cont button{font-size:10px;margin:7px 0;}

.list-item-cont button.bing{background-color: #b9b9b9!important;}
.list-item-cont button.ddg{background-color: #DE5833!important;}
.list-item-cont button.google{background-color: #FBBC05!important;}


.list-item-cont span.bing{color: #b9b9b9!important;}
.list-item-cont span.ddg{color: #DE5833!important;}
.list-item-cont span.google{color: #FBBC05!important;}

#mainContainer {
  height: 100vh;
}

.tip button{
  min-width: 34px;
  line-height:15px;
  margin:27px 0 0 8px;
}

#radar{
  background:white;
}

.progressContainer {
  display: block;
  position: relative;
  width: 100%;
  border: 2px solid #aad1f9;
  transition: opacity  0.1s linear;
  border-top: 0px; }

.progressContainer .bottom-block {
  display: block;
  position: relative;
  background-color: rgba(255, 235, 169, 0.25);
  height: 85px;
  width: 100%; }

.progressContainer .bottom-block > span {
  display: inline-block;
  margin-top: 10px;
  padding: 25px;
  font-size: 0.9em; }

.entity-item{
  border-bottom: 1px solid rgba(63,81,181, 0.6);
  margin-bottom: 10px;
  padding-bottom: 10px!important;
}

.websearch-item{
  border-bottom: 1px solid rgba(63,81,181,0.4);
  margin-bottom: 10px;
  padding-bottom: 10px!important;
}

.toolbar-header .nav-icon{vertical-align: middle;}


@media(max-width:960px){
  .site-title{font-size: 14px!important}
  .toolbar-header .md-button{min-width: 40px;}
}

@media(max-width:600px){
  .pagination-box span{font-size: 12px}
  .toolbar-header .md-button{min-width: 20px;}
  .entity-item .md-list-item-text a{
    font-size: 12px!important;
  }

  .websearch-item h3{font-size: 14px;}
  .websearch-item .md-list-item-text p{font-size: 12px}
}