<md-content>
  <md-card flex='50' flex-sm="100" flex-xs="100" class='md-padding'>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Add a Category</span>
        <p ng-if="vm.isCreatingCategory">Creating Category...</p>
        <form ng-if="!vm.isCreatingCategory" ng-submit='vm.createCategory()' flex layout-wrap>
          <md-input-container flex>
            <label>Label</label>
            <input ng-model="vm.newCategory.label" required>
          </md-input-container>

          <md-input-container flex>
            <label>Tag</label>
            <input ng-model="vm.newCategory.tag" disabled required>
          </md-input-container>

          <md-button class="md-raised md-primary" type='submit'>Add Category</md-button>
        </form>
      </md-card-title-text>
    </md-card-title>
  </md-card>
</md-content>