<div layout='column' layout-align='center' flex>
  <ng-include src="'views/main-toolbar.html'"></ng-include>
  <md-content flex layout='row' layout-wrap class='md-padding'>
    <div class="progressContainer" ng-show='vm.loading'>
      <md-progress-linear md-mode="query"></md-progress-linear>
      <div class="bottom-block">
        <span>Cargando Entidades...</span>
      </div>
    </div>
    <div class='list-item-cont' ng-show='!vm.loading' flex>
      <md-list flex>
        <md-list-item class="md-2-line entity-item" layout='row' layout-wrap ng-repeat='entity in vm.entities'>
          <div class="md-list-item-text" flex flex-sm="100" flex-xs="100" flex-order-sm="2" flex-order-xs="2">
            <h3>{{entity.name}}</h3>
            <p ng-repeat='webSearch in entity.webSearches' ><a ng-href='#!/webSearch/{{webSearch.id}}'>{{webSearch.term}} - <span ng-class='webSearch.searchEngine'>{{ webSearch.searchEngine}} </span>{{webSearch.createdAt | date : 'short'}}</a> </p>
          </div>
          <div class='buttons' flex-sm="100" flex-xs="100" flex-order-sm="1" flex-order-xs="1">
            <md-button ng-disabled='entity.searching' ng-click='vm.crawl(entity,"bing")' class="md-fab bing">Bing</md-button>
            <md-button ng-disabled='entity.searching' ng-click='vm.crawl(entity,"ddg")' class="md-fab ddg">DDG</md-button>
            <md-button ng-disabled='entity.searching' ng-click='vm.crawl(entity,"google")' class="md-fab google">Google</md-button>
          </div>
        </md-list-item>
      </md-list>
    </div>
  </md-content>
</div>
