<div layout='column' layout-align='center' id='mainContainer' flex>
  <ng-include src="'views/main-toolbar.html'"></ng-include>
  <md-content flex>
    <md-list flex ng-show="!vm.loading">
      <md-subheader class="md-no-sticky">Search Results for {{vm.webSearch.term}} | {{vm.webSearch.searchEngine}} </md-subheader>
      <div layout='row' ng-repeat="result in vm.webSearch.searchResults" class='list-item-cont'>
        <md-list-item flex class="md-3-line websearch-item">
          <div class="md-list-item-text" layout='row' layout-wrap>
            <div class='list-number md-padding'>
              {{ result.pageRank }}
            </div>
            <div flex>
              <h3>{{ result.title }}</h3>
              <h4>{{ result.link }} | {{result.searchEngine }}</h4>
              <p>{{ result.description }}</p>
            </div>
            <div layout-align='center center'>
              <md-progress-linear ng-show='result.saving'></md-progress-linear>
              <div ng-hide='result.category'>
                <md-button class='md-primary md-fab option-button label-color{{key}}' ng-disabled='result.saving' ng-repeat='(key,cat) in vm.categories' ng-click='vm.changeCategory(result,cat)'>{{ cat.label | limitTo : 4}}</md-button>
              </div>
              <div ng-show='result.category' class='list-label' ng-class='vm.getCategoryColor(result.category)'>
                {{result.category}}
                <a ng-click='vm.changeCategory(result,null)' ng-hide='result.saving' class='remove'>x</a>
              </div>
            </div>
            <div ng-show='result.saving'></div>
            <div>
            </div>
          </div>
        </md-list-item>
      </div>
    </md-list>
    <div class="progressContainer" ng-show='vm.loading'>
      <md-progress-linear md-mode="query"></md-progress-linear>
      <div class="bottom-block">
        <span>Cargando Resultados...</span>
      </div>
    </div>
  </md-content>
</div>
